@import "../../../constants/colors.scss";

.option-continer {
  text-align: center;
  padding: 6% 5%;
  min-height: 60px;
  background-color: $base-option-bg;
  border-radius: 15px;
  cursor: pointer;

  &.option-clicked {
    background-color: $focused-option-bg;
  }
  &.option-normal {
    background-color: $base-option-bg;
  }

  &.option-wrong {
    background-color: $wrong-option-bg;
  }

  &.option-correct {
    background-color: $correct-option-bg;
  }
}
