@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html {
  display: flex;
  flex-direction: column;
  & body,
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-sm-none {
  @media (max-width: 600px) {
    border: none !important;
  }
}

.flex-1 {
  flex: 1;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 3rem;
}

@media (max-width: 600px) {
  .fill-at-mobile {
    width: 100% !important;
  }
}
